*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;    
}
.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
main{
    background-color: rgb(168, 174, 199);
}
main h1{
    border-width: 5px;
    border: solid rgb(87, 87, 87);
    width: 8em;
    font-size: 1em;
    text-align: center;
    background-color: rgb(87, 87, 87);
    border-radius: 7px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2em;
}
#costumers{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    background-color: rgb(214, 214, 214);
}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
#costumers td{
    height: 70px;
    text-align: center;
    outline: 2px solid rgba(141, 123, 123, 0.13);
}
.title th{
    background-color: rgb(104, 104, 104);
    padding: 1em;
}
.color{
    color: white;
}
.red{
    color: red;
    font-size: 30px;
}
.green{
    color: green;
    font-size: 30px;
}
.greener{
    color: rgb(143, 173, 143);
    font-size: 30px;
}
#costumers tr .lorem{
    width: 20px;
}
.margin{
    margin-bottom: 40px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 87, 87);
    flex-direction: column;
}
footer i{
    padding: 1em;
}
footer p{
    color: white;
    margin-bottom: 0.2em;
}
footer .icons{
    font-size: 2em;
}
@media screen and (min-width: 769px){
    #costumers{
        width: 60%;
    }
}

