*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;    
}
.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
main{
    background-color: rgb(168, 174, 199);
}
main h1{
    border-width: 5px;
    border: solid rgb(87, 87, 87);
    width: 8em;
    font-size: 1em;
    text-align: center;
    background-color: rgb(87, 87, 87);
    border-radius: 7px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (min-width: 425px){
    .container{
        max-width: 425px;
        margin: 1em auto;
        width: 80%;
    }
    .main_menu{
        background-color: #707070;
        width: 100%;
        height: 60px;
        border-radius: 50px;
    }
    .main_menu .container{
        max-width: 100%;
        width: 100%;
        margin: 0px 0px;
        display: flex;
        justify-content: space-between;
    }
    .fa-bars{
        font-size: 2em;
        color: black;
        text-decoration: none;
        padding: 12px 0px 0px 20px;
    }
    .fa-user{
        font-size: 2em;
        color: black;
        text-decoration: none;
        padding: 12px 20px 0px 0px;
    }
    .container img{
        width: 25%;
        margin-top: 11px;
    }/*Fim do Menu*/
    .documentacao{
        margin: 25px auto;
        width: 425px;
        height: 700px;
        background-color: black ;
    }
    .area{
        width: 340px;
        height: 500px;
        background-color: #cccccc;
        margin: 120px auto;
        border-radius: 35px;
    }
}
@media screen and (min-width: 425px){
    body{
        background-color: #8790b7;
    }
    .container{
        max-width: 425px;
        width: 90%;
        margin: 0 auto;
    }
    
    .Arquivamento{
        width: 100%;
        /* height: 888px; */
        /* background-color: black; */
    }
    .secao{
        width: 100%;
        height: 500px;
        background-color: #c2c4d3;
        margin: 160px auto;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        box-shadow: 3px 3px 30px black;
    }
    .secao div{
        margin-top: 130px;
    }
    .secao img{
        width: 140px;
        height: 220px;
        margin-left: -10px;
        margin-top: 25px;
        /* color: #e2d9ba; */
    }
    .secao h1{
        height: 0px;
        width: 0px;
        color: #000000;
        margin: 0 30px;    
    }
    .cont h1{
        margin: 0 20px;
    }
    .rh h1{
        margin-left: 50px;
    }/*Fim da tela de Documentação*/
    .secao_prateleiras{
        border-radius: 50px;
        margin: 160px auto;
        background-color: #c2c4d3;
        justify-content: center;
    }
    .secao_prateleiras div{
        margin: 0 auto;
    }
    .secao_prateleiras img{
        width: 100%;
        height: 996px;
        width: 300px;
        height: 300px;
        margin: 0 40px;
        /* color: #e2d9ba; */
    }
    .secao_prateleiras h1{
        margin: 0 auto;
    }/*Fim tela de Prateleiras*/
    .secao_pastas{
        width: 100%;
        height: 300px;
        background-color: #c2c4d3;
        margin: 240px auto;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        box-shadow: 3px 3px 30px black;
    }
    .secao_pastas img{
        width: 120px;
        height: 120px;
        /* margin-left: -10px; */
        margin-top: 40px; 
    }
    .secao_pastas div{
        margin-top: 60px;
    }
    .rh h1{
        margin: 0px 0px;
    }
    .cont h1{
        margin: 0px 0px;
    }
    .secao_pastas h1{
        height: 0px;
        width: 0px;
        color: #000000;
        margin: 0 30px;    
    }
}

@media screen and (min-width: 768px){
    .secao_prateleiras img{
        width: 350px;
        height: 350px;
        margin: 0 38px;
    }
}

@media screen and (min-width: 1366px){
    .container{
        max-width: 1366px;
        width: 88%;
        margin: 0 auto;
    }   
    .secao{
        width: 100%;
        height: 500px;
        background-color: #c2c4d3;
        margin: 230px auto;
        border-radius: 50px;
        display: flex;
        justify-content: space-around;
        box-shadow: 3px 3px 30px black;
    }
    .secao div{
        margin-top: 110px;
    }
    .secao img{
        width: 300px;
        height: 300px;
        margin-left: -10px;
        margin-top: 25px;
        /* color: #e2d9ba; */
    }
    .secao h1{
        height: 0px;
        width: 0px;
        color: #000000;
        margin: 0 60px; 
        font-size: 1.3em;   
    }/*Fim do desktop Estantes*/
    .secao_prateleiras{
        margin: 230px auto;
        width: 100%;
        height: 427px;
        display: flex;
        border-radius: 50px;
        margin: 160px auto;
        background-color: #c2c4d3;
        justify-content: center;
    }   
    .secao_prateleiras div{
        margin-top: 50px;
    }
    .secao_prateleiras img{
        width: 400px;
        height: 400px;
        margin: 0px 0px;
    }/*Fim desktop Prateleiras*/
    .secao_pastas{
        width: 100%;
        height: 300px;
        background-color: #c2c4d3;
        margin: 240px auto;
        border-radius: 50px;
        display: flex;
        justify-content: space-around;
        justify-content: center;
        box-shadow: 3px 3px 30px black;
    }
    .secao_pastas div{
        margin: 40px auto ;
    }
}
  
