*{
    padding: 0;
    margin: 0;
}



/*TELA DE CADASTRO*/
body{
    background: rgb(135,145,184);
    background: linear-gradient(90deg, rgba(135,145,184,1) 0%, rgba(178,176,176,1) 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulo_pagina{
    width: 100%;
    height: 250px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    padding-top: 3em;
}
.form_cadastro{
    background: rgb(135,145,184);
    background: linear-gradient(90deg, rgba(135,145,184,1) 0%, rgba(178,176,176,1) 100%);
    width: 100%;
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1.5em;
}
.campo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
input[type="text"],
input[type="email"],
select{
    border: none;
}
input:focus, select:focus{
    outline: none;
    border-bottom: 1px solid black;
}
.termos{
    align-items: center;
    justify-content: flex-start;
}
.termos label{
    text-align: initial;
    margin-left: 0.5em;
}
.btn{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 5px;
}
.gradient{
    background: rgb(135,145,184);
    background: linear-gradient(90deg, rgba(135,145,184,1) 0%, rgba(178,176,176,1) 100%);
}

/* TELA DE ESTOQUE */
.titulo_estoque{
    height: 40px;
    text-transform: uppercase;
    padding-top: 3em;
    align-items: center;
    flex-direction: column;
}
main{
    background-color: rgb(168, 174, 199);
}
table, th, td{
    border: 1px solid #7e7e7e;
    border-collapse: collapse;
}
td, th{
    padding: 8px;
    color: white;
    text-align: left;
}
tr:nth-child(even){
    background-color: #666666;
}
th{
    text-transform: uppercase;
}
table{
    width: 90%;
    margin: 0 auto;
}
footer{
    width: 100%;
    height: 5em;
    background-color: #575757;
}
footer .sociais{
    display: flex;
    justify-content: space-evenly;
    color: var(--purple);
    font-size: 2em;
    padding: 1.2em 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2em;
}
#costumers{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    background-color: rgb(214, 214, 214);
}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
#costumers td{
    height: 70px;
    text-align: center;
    outline: 2px solid rgba(141, 123, 123, 0.13);
}
.title th{
    background-color: rgb(104, 104, 104);
    padding: 1em;
}
.color{
    color: white;
}
.red{
    color: red;
    font-size: 30px;
}
.green{
    color: green;
    font-size: 30px;
}
.greener{
    color: rgb(143, 173, 143);
    font-size: 30px;
}
#costumers tr .lorem{
    width: 20px;
}
.margin{
    margin-bottom: 40px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 87, 87);
    flex-direction: column;
}
footer i{
    padding: 1em;
}
footer p{
    color: white;
    margin-bottom: 0.2em;
}
footer .icons{
    font-size: 2em;
}
@media screen and (min-width: 769px){
    #costumers{
        width: 60%;
    }
}

